#profile1{
    height: 154px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 8%;
}
body{
    background-color:#b0d9ff;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    #profile1{
    width: 50%;
    height: 30%;
    position: absolute;
    left: 25%;
    top: 10px;

    }
}