#profile1{
    height: 154px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 8%;
}
body{
    background-color:#b0d9ff;
}
.links{
    display: block;
    position: absolute;
    left: 40%;
    top: 35%;
    height: max-content;
    width: 20px;
    text-align: center;
}
button{
    text-decoration: none;
    border-radius: 30%; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua;
    
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
a:hover{
    text-decoration: dashed;
    color: red;
    cursor: default;
}














@media only screen and (max-width:500px) {
    /* For mobile phones: */
    #profile1{
    width: 50%;
    height: 30%;
    position: absolute;
    left: 25%;
    top: 10px;

    }
}